body {
  background-image: url('../../assets_navbar/img/background.png');
}

.navbar.navbar-light.navbar-expand-md {
  background-color: #009846;
  height: 100px;
}

.navbar-light .navbar-toggler {
  background-color: #f8f8e5;
}



#image {
  height: 80px;
  padding: 0 0 0 50px;
}

